@model IEnumerable<AccessOwnApi.Models.Address>

@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    var form = new FormData();
    var settings = {
        "url": "https://localhost:44318/api/address",
        "method": "GET",
        "timeout": 0,
        "headers": {
            "Authorization": "Bearer AXuqf9B8yNJ43WNerDOROwq0QXT2-kQp-DibJQdH8RlUpG35cnoRLwRlihiLXGlY5QxWD42wZfWRC4ggUPNqCo1dYXWDa9EeX_Efnng56ATa1wf4PrC1SDWMaVOZwpbGPvHN6kDRT0bd1IkNWjWLCJWEIZN7iCe-7OCaa0n2yylzmHoXCYdNh3sOpMIwgxz-uAsPhTZFdddfBMuAEZJSCb7A3QMkvN9asdWtSgPeLTCfrBF6bKaEf3yQ_QgFUPFrysU8ZNNscNEzQUBwxjdrPX12PpcArukqurwG192LhSZ4IL8CllAicjsLiL_e74gXBv9iMFXg_nf61sL3eR4NYoQgxWJItf-XV4lXKsOR8WVP9WT-XMc6U6w-kKrzZprJ7edYXXW6MkLikhGimqnP-h8u4R9EMSv6WjAbte2Z5nNcb4UOyVsp1pTVkFCMsKtK07GYL5N3ruVn0Du-wZKnFUgPRFGU4KhLmdWhdff4-yQ" /*+ localStorage.getItem('access_token')*/
        },
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        "data": form
    };

    $.ajax(settings).done(function (response) {
        console.log(response);
    });

</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logradouro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ibge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ddd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Siafi)
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ibge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ddd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Siafi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }*@

</table>
